{% extends 'base.html.twig' %}

{% block title %}Edit Specialites{% endblock %}

{% block content%}
    <h1>Edit Specialites</h1>

    {{ include('specialites/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('specialites_index') }}" class="btn btn-primary">back to list</a>

    {{ include('specialites/_delete_form.html.twig') }}
{% endblock %}
